name: Build

on: workflow_dispatch

permissions:
  contents: write
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Build application
        uses: ./.github/actions/build
        with:
          commit-binary: true

      - name: Smoke/E2E test
        uses: ./.github/actions/e2e-tests
        with:
          github-token: ${{ secrets.TEST_GITHUB_TOKEN }}
          slack-bot-token: ${{ secrets.DEV_SLACK_TOKEN }}
