name: Build

on: workflow_dispatch

permissions:
  contents: write
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Build application
        uses: ./.github/actions/build

      - name: Smoke/E2E test
        uses: ./.github/actions/e2e-tests
        with:
          github-token: ${{ secrets.TEST_GITHUB_TOKEN }}
          slack-bot-token: ${{ secrets.DEV_SLACK_TOKEN }}
