name: E2E Test Run

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'dist/**'
      - 'invoke-binary.js'
      - '.github/workflows/e2e-test.yml'
      - '.github/actions/e2e-tests/**'

jobs:  
  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
   
    steps:
      - uses: actions/checkout@v4
      
      - name: Run E2E tests
        uses: ./.github/actions/e2e-tests
        with:
          github-token: ${{ secrets.TEST_GITHUB_TOKEN }}
          slack-bot-token: ${{ secrets.DEV_SLACK_TOKEN }}
