name: Release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'Whether to bump major, minor, or patch version'
        default: minor
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

permissions:
  contents: write

jobs:
  release:
    name: create release tag
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5

      - name: Create release tag
        uses: ./.github/actions/release
        with:
          semver: ${{ github.event.inputs.semver }}
