name: Release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'Whether to bump major, minor, or patch version'
        required: true
        default: minor
        type: choice
        options:
          - patch
          - minor
          - major

permissions:
  contents: write
  pull-requests: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      
      - name: Run unit tests
        uses: ./.github/actions/unit-tests

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      
      - name: Build application
        uses: ./.github/actions/build
        with:
          commit-binary: true

  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5
        with:
          ref: main

      - name: Run E2E tests
        uses: ./.github/actions/e2e-tests
        with:
          github-token: ${{ secrets.TEST_GITHUB_TOKEN }}
          slack-bot-token: ${{ secrets.DEV_SLACK_TOKEN }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: e2e-tests

    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0

      - name: Configure Git
        shell: bash
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Create release tag
        shell: bash
        run: |
          echo "SEMVER input: ${{ inputs.semver }}"
          make release-tag SEMVER="${{ inputs.semver }}"

      - name: Create draft release
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: make draft-release
